/* Add these styles for the dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2c3e50;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 50;
  right: 20px;
  top: 60px;
  border-radius: 8px;
  padding: 10px;
}

.dropdown-content .dropdown-item {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #34495e;
}

.dropdown-content .dropdown-item .prof{
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown-content .dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-content .dropdown-item:hover {
  background-color: #34495e;
}

.show {
  display: block;
}

.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/* Adjust existing styles to ensure dropdown is positioned correctly */
.header {
  position: relative;
}

.right-menu {
  position: relative;
}

.profile {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

/* General styles */
body {
   font-family: 'Satoshi', sans-serif;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   background-color: #1C2127;
 }
 header {
   background: transparent;
   color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 30px;
   border-bottom: 1px solid #A7B1BC;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }

 header .left-menu {
  display: inline-flex;
  gap: 20px;
 }

 header .divider{
   width: 1px;
   height: 40px;
   background-color: #A7B1BC;
   opacity: 0.6;
   display: block;
 }
 
 header .logo {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   gap: 8px;
   width: 121px;
   height: 34px;
 }
 
 header .logo span {
   align-self: center;
   margin-right: 10px;
   font-size: 20px;
   font-weight: 500;
 }
 
 header nav {
   display: flex;
   align-items: center;
 }
 
 header nav ul {
   list-style: none;
   display: flex;
   margin: 0;
   padding: 0;
 }
 
 header nav ul li {
   margin: 0 20px;
 }
 
 header nav ul li a {
   color: white;
   text-decoration: none;
   font-size: 14px;
   font-weight: 500;
   line-height: 16px;
   transition: color 0.3s;
 }
 
 header nav ul li a:hover {
   color: #feffff;
 }
 
 header nav ul li a::after {
   content: '';
   width: 0%;
   height: 2px;
   background: #fff;
   display: block;
   margin: auto;
   transition: 0.5s;
 }

 .icon{
  display: flex;
 }

 .logout{
  display: none;
 }
 
 header nav ul li a:hover::after {
   width: 100%;
 }
 
 header .fa {
   display: none;
 }

 header .right-menu{
   display: inline-flex;
   align-items: center;
   justify-content: space-between;
   gap: 20px;
 }

 header .right-menu .fa{
   display: inline;
   align-self: center;
   font-size: 24px;

 }

 header .right-menu .profile{
   display: flex;
   align-items: center;
   gap: 10px;
   background-color: #12171D;
   width: 181px;
   height: 48px;
   border-radius: 8px;
   padding: 8px 16px;
   justify-content: space-around;
   
 }

 header .right-menu .profile img{
   width: 32px;
   height: 32px;
   border-radius: 100px;
 }

 header .right-menu .profile .fa{
   display: inline;
 }

 header .right-menu .profile span{
   font-size: 14px;
   font-weight: 500;
   /* line-height: 16px; */
   color: #A7B1BC;
   overflow: hidden;
   display: -webkit-box;
   max-width: 100%;
   -webkit-line-clamp: 0;
   -webkit-box-orient: vertical;
   text-overflow: ellipsis;
 }
 
 header input#search-bar {
   padding: 10px;
   font-size: 16px;
   border-radius: 5px;
   border: 1px solid #ccc;
 }
 main {
   flex: 1;
   padding: 40px;
   display: flex;
   flex-direction: column;
   gap: 30px;
 }
 
 .chart-list{
   display: flex;
   gap: 20px;
   
 }
 .chart {
   background: #32383F;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   flex: 1;
 }
 
 .chart-container {
   height: 300px;
   background: #32383F;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #1a202c;
   font-size: 24px;
   font-weight: bold;
 }
 
 #chart-interval-buttons button {
   margin-right: 10px;
   margin-bottom: 10px;
   padding: 8px 16px;
   border: none;
   border-radius: 5px;
   background: #1a202c;
   color: white;
   cursor: pointer;
   transition: background 0.3s;
 }
 
 #chart-interval-buttons button:hover {
   background: linear-gradient(135deg, #155ab6, #1a73e8);
 }
 
 .trading-pairs {
   background: #32383F;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   flex: 1;
 }
 
 .trading-pairs h2 {
   margin-top: 0;
   font-size: 20px;
 }
 
 .trading-pairs ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }
 
 .trading-pairs ul li {
   padding: 10px 0;
   border-bottom: 1px solid #e2e8f0;
 }
 
 .trading-pairs ul li:last-child {
   border-bottom: none;
 }
 
 .order-book {
   display: flex;
   flex-direction: column;
   gap: 10px;
   background: white;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }
 
 .order-book-title {
   font-size: 20px;
   margin-bottom: 10px;
 }
 
 .order-book-header {
   display: flex;
   justify-content: space-between;
   font-weight: bold;
   margin-bottom: 10px;
 }
 
 .order-book-entries {
   display: flex;
   flex-direction: column;
   gap: 5px;
 }
 
 .order-book-entries div {
   display: flex;
   justify-content: space-between;
   padding: 5px 0;
 }
 
 .order-section {
   background: white;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }
 
 .order-section h2 {
   margin-top: 0;
   font-size: 20px;
 }

 .order-section .forms{
   display: flex;
   gap: 20px;
 }
 
 .order-section form {
   display: flex;
   flex-direction: column;
   flex: 1;
   gap: 15px;
   margin-top: 10px;
 }
 
 .order-section form input {
   padding: 10px;
   border-radius: 5px;
   border: 1px solid #ccc;
   font-size: 16px;
 }
 
 .order-section form button {
   padding: 10px;
   border-radius: 5px;
   border: none;
   background: #1a202c;
   color: white;
   font-size: 16px;
   cursor: pointer;
   transition: background 0.3s;
 }
 
 .order-section form button:hover {
   background: linear-gradient(135deg, #155ab6, #1a73e8);
 }
 
 footer {
   background: #1a202c;
   color: white;
   text-align: center;
   padding: 25px 30px;
   box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 footer .social-media {
   display: flex;
   justify-content: center;
 }
 
 footer .social-media a {
   color: #1a202c;
   background-color: #fff;
   border-radius: 100px;
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: row;
   padding: 10px;
   width: 20px;
   height: 20px;
   margin: 10px 10px;
   text-decoration: none;
   transition: color 0.3s;
 }
 
 footer .social-media a:hover {
   color: #1a73e8;
 }

 footer .contact{
   color: #d1edff;
 }

 
 /* Auth Screen Styles */
 #auth-screen {
   background: #fff;
   padding: 40px;
   border-radius: 12px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   max-width: 400px;
   width: 90%;
   text-align: center;
   transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
 }
 
 #auth-screen:hover {
   transform: translateY(-5px);
   box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
 }
 
 #auth-screen h1 {
   font-size: 24px;
   margin-bottom: 20px;
   color: #1a202c;
 }
 
 #auth-screen input {
   padding: 12px;
   border-radius: 8px;
   border: 1px solid #ddd;
   font-size: 16px;
   width: calc(100% - 24px);
   margin-bottom: 20px;
   box-sizing: border-box;
   transition: border-color 0.3s ease-in-out;
 }
 
 #auth-screen input:focus {
   border-color: #1a73e8;
   outline: none;
 }
 
 #auth-screen button {
   padding: 12px;
   border-radius: 8px;
   border: none;
   background: linear-gradient(135deg, #1a202c, #1c272f);
   color: white;
   font-size: 16px;
   cursor: pointer;
   width: 100%;
   transition: background 0.3s, transform 0.3s;
   /* opacity: 0.6; */
 }
 
 #auth-screen button:hover {
   background: linear-gradient(135deg, #155ab6, #1a73e8);
   transform: translateY(-2px);
 }
 
 #auth-screen button:disabled {
   cursor: not-allowed;
   opacity: 0.6;
   background: #ccc;
 }
 
 #gravatar-display {
   margin-top: 20px;
 }
 
 #gravatar-display img {
   border-radius: 50%;
   width: 120px;
   height: 120px;
   object-fit: cover;
   margin-bottom: 20px;
   transition: transform 0.3s;
 }
 
 #gravatar-display img:hover {
   transform: scale(1.1);
 }
 
 #gravatar-display ul {
   list-style: none;
   padding: 0;
   margin-top: 20px;
   text-align: left;
 }
 
 #gravatar-display ul li {
   padding: 10px;
   border-bottom: 1px solid #e0e0e0;
   transition: background 0.3s;
 }
 
 #gravatar-display ul li:hover {
   background: #f9fafb;
 }
 
 
 /* Responsive Styles */
 @media (max-width: 768px) {
   header nav {
      position: fixed;
      background: #1a202c;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 50;
      transition: 1s;
      flex-direction: column;
    }
  
    header nav ul {
      flex-direction: column;
      align-items: start;
      width: 100%;
      padding: 0;
    }

    header nav .fa{
      align-self: start;
    }
  
    header nav ul li {
      margin: 10px 10px;
    }
  
    header .fa {
      display: block;
      margin: 10px;
      font-size: 22px;
      color: #fff;
      cursor: pointer;
    }

    header .divider{
      display: none;
    }
  
    header .logo {
      font-size: 10px;
      font-weight: bold;
    }

    .logout{
      display: flex;
    }
    .icon{
      display: none;
    }
 
   main {
     padding: 20px;
   }

   footer {
     flex-direction: column;
   }

   .chart-list{
     flex-direction: column;
   }
 
   .order-book {
     flex-direction: column;
   }
 
   .order-book-content {
     flex-direction: column;
   }

   .order-section .forms{
     flex-direction: column;
   }
 }
 