.globe-dropdown {
   display: block;
   position: absolute;
   background-color: #1C2127;
   min-width: 300px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 50;
   right: 30px;
   /* top: 50px; */
   border-radius: 24px;
   width: 220px;
   /* height: 301px; */
   gap: 0px;
   border: 1px;
   opacity: 0px;
  margin-top: 10px;
   /* padding: 10px; */
 }
 
 .show {
   display: block;
 }

 .globe-dropdown .countries{
   color: white;
   
   text-decoration: none;
   display: block;
   align-items: center;
   gap: 10px;
   border-bottom: 1px solid #34495e;
 }
 .globe-selected{
  cursor: pointer;
 }
 
 
 .countries .prof1, .prof2, .prof{
   display: flex;
   align-items: center;
   /* height: 65px; */
   gap: 10px;
   padding: 15px 16px 15px 16px;
   cursor: pointer;
font-size: 14px;
font-weight: 700;
line-height: 20px;
text-align: left;

 }


 
.countries:first-child {
   border-bottom: none;
 }
 
 .countries  .prof:hover {
   background-color: #262B31;
 }
 .countries  .prof:first-child:hover {
   background-color: #262B31;
   border-radius: 24px 24px 0px  0px ;
 }
 .countries  .prof:last-child:hover {
   background-color: #262B31;
   border-radius: 0px  0px 24px 24px ;
 }

 .count span{
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #A7B1BC; 
  margin-top: -40px;
 }